@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: aqua;
}
header {
  height: 100px;
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .logo {
  font-family: "Cinzel", serif;
  height: 75px;
  padding: 1em;
  font-weight: 600;
  font-size: x-large;
  background-color: white;
  border-radius: 40px;
}

header .links {
  height: 75px;
  align-content: center;
  border-radius: 40px;
  background-color: white;
}
.links a {
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  margin: 0 1em;
  color: black;
  padding: 1em 2em;
  border-radius: 30px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}
.links a:hover {
  background-color: black;
  color: white;
}

/* From Uiverse.io by SteveBloX */
button {
  width: 150px;
  height: 60px;
  border: none;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1.2em;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
}

button:hover {
  background: #343a40;
  color: white;
  font-size: 1.5em;
}
